*{
  font-family:"Open Sans", serif;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;

}
:root{
  --Primary:#181818;
  --Secondary:#474747;
  --Text:#757575;
  --Bg:#FFF8F3;
  --White:#fff;
  --Button:#FD6E0A;
}
header{
  background-color: var(--Bg);
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left,bottom right;
 


}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
}
.logo{
  color: var(--Primary);
  font-size: 45px;
  font-weight: 800;
}
.logo span{
  color: var(--Button);
}
nav ul li {
  display: inline-block;
  align-items: center;
}
nav li a{
  margin-right: 30px;
  color:var(--Text);
  font-size: 20px;
  font-weight: 400;
}
.btn-1{
  background-color: var(--Button);
  color: var(--White);
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
}
.btn-2{
  background: transparent;
  color: var(--Button);
  font-size: 20px;
  font-weight: 600;
  border-width: 2px;
  border-color: var(--Button);
  border-radius: 5px;
  padding: 18px 35px;
  margin-left: 20px;
}
.hero-banner{
  display: flex;
  align-items: center;
  margin: 0px 30px 0px 200px;
}

.hero-subtitle{
  font-size: 45px;
  font-weight: 500;
  color: var(--Secondary);
}
.hero-title{
  color: var(--Primary);
  font-size: 85px;
  font-weight: 600;

}
.hero-description{
  color: var(--Text);
  font-size: 18px;
  padding: 0px 150px 20px 0px;
}
.hero-img .hero-content{
  width: 580px;
}
/* about section */
.maine{
  max-width: 1140px;
  margin: 0 auto;
}
.about{
  background-color: var(--Bg);
  justify-content: center;
  text-align: center;
  padding: 100px 100px;
  margin: 130px;
}
.about-title{
  color: var(--Primary);
  font-size: 35px;
  font-weight: 600;
  margin: 20px;
}
.about-description{
  color: var(--Text);
  font-size: 18px;
  font-weight: 400;
}
.about-items{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
}
.item-title{
  color: var(--Text);
  font-size: 20px;
  font-weight: 300;
}
.item-description{
  color: var(--Primary);
  font-size: 20px;
  font-weight: 600;
}